MINIO_PORT=9000
MINIO_UI_PORT=9001
MINIO_ACCESS_KEY=<YOUR-ACCESS-KEY>
MINIO_SECRET_KEY=<YOUR-SECRET-KEY>

ENVIRONMENT_LOG=dev

BACKEND_HOST=backend
BACKEND_PORT=8000
FRONTEND_HOST=frontend
FRONTEND_PORT=8501

MILVUS_HOST=milvus
MILVUS_PORT=19530